import { TerraformStack } from 'cdktf';
import { Construct } from 'constructs';

class <%= className %>Stack extends TerraformStack {
  constructor(
    scope: Construct,
    public id: string = '<%= fileName %>',
    ...dependencies: TerraformStack[]
  ) {
    super(scope, id);
    for (const dependency of dependencies) {
      this.addDependency(dependency);
    }
  }
}

export default <%= className %>Stack;
